/* general style */
h3{
    font-size: 18px;
        font-weight: 400;
}
p{
    font-size: 14px;
}
h2{
    color: #eb80b7;
    font-size: 32px;
    font-weight:400 ;
    text-transform:uppercase ;
}
/* Home Section */
.navbar{
    border-bottom: 1px solid #fcf4ec;
}

.navbar .navbar-brand{
    color: #fcf4ec  ;
    font-size: 25px;
    transition: color 0.5s ease;
    font-weight:bold;
}

.navbar .navbar-brand:hover{
    color:#9c0683 !important  
}
.bg-dark{
    background-color:  #eb80b7 !important;
}
.nav-link {
color: #fcf4ec !important;
text-transform: uppercase;
transition:color 0.5s ease;
font-weight:500;
}
 .nav-link:hover{
    color:#9c0683 !important;
}
/* Header Section */
#headerSection{
    background:url('../images/photo.jpeg')  no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
#headerSection .overlay{
    background-color:  rgba(0, 0, 0, .6);
}
#headerSection  .row{
   height:100vh;
}
.col .btn{
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 0;
   cursor: pointer;
}
.text-asu{
    color:#eb80b7
}
/* History Section */
.history-img{
    width:500px;
     height:400px
}
#ourHistory h2{
    border-left: 6px solid #eb80b7;
    padding-left: 30px;

}
#ourHistory .col-md-6{
display: inline;
}
#ourHistory .btn-outline-primary {
    position: absolute;
    bottom: 0;

}
#ourHistory p{
    line-height: 28px;
   
}
#team .card-block img{
    width: 150px;
    height: 150px;
}

/*what we section */

#whatWeDo{
    background: linear-gradient(
        rgba(0,0,0, .7),
        rgba(0,0,0, .7)
    ),
    url(../images/modal.jpg);
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-play{
   color: #eb80b7;
   transition: color 0.5s ease;
}
.fa-play:hover{
    color:#9c0683 !important;
    ;
}
/*-- Portfolio sesction */

#portfolio img{
   width: 350px;
   height: 405px;
}
#portfolio .col-md-3{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
#portfolio h4{
    font-size: 16px;
    font-weight: 300;

}
#portfolio .fa{
    font-size: 24px;
    margin-bottom: 20px;

}
#portfolio p{
    font-size: 14px;
    font-weight: 300;

}
.imageContainer{
    position: relative;
    cursor: pointer;
}
.imageOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1886c7;
   transition: color .5s ease;
    opacity: 0;
    transition:  1s ease;
}
.imageContainer:hover .imageOverlay{
    opacity: .7;
  
}
.imageText{
    color: white;
    font-size: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

/*-- contact sesction */
#contact{
    background-color: #f4f5f9;
}
#contact p{
    font-size: 20px;
}
#contact h2{
    font-weight: 500;
}
#contact a{
    color: #eb80b7;
    transition: color 0.5s ease;
    text-decoration: none;
}
#contact a:hover{
    color: #9c0683;
}
.flex-row a{
    color: #1886c7 !important;
   

}
#contact .input-group-text {
    background-color: #1886c7;
    width: 40px;
    border-radius: 0;
}
.input-group-text .fa{
    color: white;
}
#contact .form-control, #contact .btn {
    border-radius: 0;}
.contactImage img{
    width: 400px;
    height: 400px;
    border-radius: 200px;

}

/*--footer sesction */
#main-footer{
    color: white;
    background-color: black;
   
}
#main-footer .col-md-6 {
    padding-top: 20px;
}
/* media queriess */
 @media screen and (max-width:1200px){
    #ourHistory p {
        line-height: 20px;
    }
 }
 @media screen and (max-width:992px){
    .display-4{
        font-size: 48px !important;
        
     }
     #ourHistory .btn{
         position: relative;
     }
     .historyLeft , .historyRight {
         text-align: center;
     }
}
@media screen and (max-width:768px){
    .display-4{
        font-size: 32px !important;
     }
   
  
}
@media screen and (max-width:576px){
    .display-4{
        font-size: 24px !important;
     }
} 